body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

.header {
  background: url('portfolio-imgs/landscape_md.jpg');
  background-size: cover;
  border-bottom: 4px solid orange;
  padding: 15px 0;
  height: 320px;
  color: white;
  text-shadow: 1px 1px 2px #333;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.personal-pic {
  border-radius: 50%;
  width: 80px;
  height:auto;
  display:block;
  margin: 0 auto;
  box-shadow: -1px 2px 3px #333;
}

section {
  padding-top: 35px;
  padding-bottom: 20px;
}

section p {
  font-size: 1.15em;
  line-height: 1.35em;
  margin-bottom: 15px;
}

.bio {
  margin-bottom: 55px;
}

.bio h3 {
  margin: 1em 0;
}

.project {
  text-align: center;
}

.project img {
  height: auto;
  width: 380px;
  border: 4px solid #ccc;
  margin: 0 5px;
  border-radius: 1%
}

.project-block {
  background-color: rgba(204, 204, 204, 0.4);
}

.project-block:nth-child(even) {
  background-color: inherit;
}

.project ul {
  padding-left: 0;
  list-style-position: inside;
}

.project li {
  font-size: 1.15em;
}

.project h3 {
  margin-top: 0;
}

.lt-gray {
  background-color: rgba(204, 204, 204, 0.4);
}

.footer {
  border-top: 2px solid orange;
  padding: 15px 0;
}

.footer h2, .footer h3, .footer h4 {
  margin: 30px 0;
}

.footer a {
  text-decoration: none;
  color: #003366;
}

.footer p {
  font-size: 1.2em;
}

.centered {
  text-align: center;
}

.no-list {
  list-style-type: none;
  padding-left: 0;
}

.no-list li {
  display: inline-block;
}

.tech-list {
  margin-top: 20px;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.tech-list li {
  border-right: 1px groove white;
  margin: 0;
  padding: 0 10px;
  font-size: 1.25em;
}

.tech-list li:last-child {
  border: 0;
}

section, footer {
  color: #003366;
}

.image-cap p {
  margin: 5px 0;
  padding: 5px 0;
}

.image-cap a {
  color: #003366;
}

img.icons {
  height: 80px;
  width: auto;
  vertical-align: middle;
  border: 0;
  margin-bottom: 10px;
}

.spacer {
  height: 40px;
}

@media screen and (min-width:992px) {

  .personal-pic {
    height: 190px;
    width: auto;
    margin-top:5px;
  }

  .project {
    text-align: left;
  }

  .image-cap p {
    padding: 15px 0 0;
  }

}