.blog-main {
	background: #fff;
}

.row-70 {
	width:69%;
  display:inline-block;
  vertical-align: text-top;
}

.row-30 {
	width:29%;
  display: inline-block;
  vertical-align: text-top;
}

.text-sm {
	font-size: 75%;
}

.bkg-floral {
	background-color: floralwhite;
}

.sidebar-pic {
  float:right;
  width:38%;
  height:auto;
  padding:5px;
  margin: 0;
}


aside ul {
	margin-bottom:20px;
}

aside {
	padding-top: 15px;
}

aside li {
	padding-bottom: 15px;
}

.code-well {
  margin: 0 1em;
  font-family: monospace;
  background-color: lightgrey;
  border-radius: 10px 10px 10px;
  padding:0.75em 2em;
  overflow: hidden;
}

.pre-wrap {
  white-space: pre-wrap;
}

/* for video page*/
.fit-video {
  margin-left: 4em;
;}

.cheat-search {
  width: 80%;
  border-radius: 4px;
  border: 2px solid #CCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding:1%;
  margin: 0 5% 2%;
  font-size: 1.3em;
}