body {
	margin: 0;
	background-color: #942ed9;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
	padding-bottom: 0.2em;
}

#header {
	padding:0.5em 2em;
	background: linear-gradient(#8028bb, #942ed9);
	color: #fff;
	height:100%;
}

#container-main {
	background-color: #fff;
	overflow:hidden;
	/*padding:1.5em 0.4em;*/
	width:100%;
}

.container {
	margin: 0;
	padding:0;
}

.navlink {
	margin-right: 0.3em;
	text-decoration: none;
	font-size: 1.8em;
	border-right: 0.15em solid #5a0f8c;
	padding-right: 0.45em;
	line-height: 1.6em;
	padding-bottom:0;
}

.footer {
	background-color: antiquewhite;
	padding:1em 0;
	margin: 0 1em;
	border-radius: 15px 15px 0 0;
	border: 0.2em solid #5a0f8c;
	border-bottom-style:none;
}

.fl-left {
	float:left;
	margin-left:0.5%;
}

.fl-right {
	float:right;
	margin-right:0.5%;
}

.rel-right {
	position:relative;
	left:68%;
}

.row {
	width:100%;
	overflow:hidden;
	clear:both;
}

.half-row {
	width:49%;
	display:inline-block;
	overflow:hidden;
}

/* 	GENERAL CLASSES  */

.disp-inline {
	display: inline;
}

.clearfix {
	clear: both;
}

.spacer {
	width:100%;
	height:0.8em;
	clear:both;
}

.white-text {
	color:white;
}

.antique {
	background-color: antiquewhite;
}

.round-box {
	border-radius: 15px 15px 15px;
}

.no-list {
	list-style-type: none;
}

.link-bold {
	text-decoration: none;
	font-weight: 600;
}

.brd-top {
	border-top: 0.2em solid #5a0f8c;
}

.brd-bottom {
	border-bottom: 0.2em solid #5a0f8c;
}

.brd-full-primary {
	border: 0.2em solid #5a0f8c;
}

/*  TEXT ELEMENTS  */

a {
	color: #5a0f8c;
}

.center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.no-link {
  text-decoration: none;
  color:inherit;
}

/* SPECIFIC ITEMS */

/* header space */

.navlink {
	color: #fff;
	background:none;
	padding-left:0.5em;
}

.navlink:hover {
	background: #5a0f8c;
}

.logo-img {
	width:12%;
	height:auto;
	max-width:3.2em;
	float:left;
	margin: 0 2em;
}

.head-logo {
	float: left;
}

.head-logo h2 {
	font-size: 2.2em;
}

.head-links {
}

.navlink:last-child {
	border: none;
	margin-right:0;
}

.triplet {
	width:32.3%;
	display:inline-block;
	margin-left: 0.0005%;
	padding:2em 0 2.8em;
}

.triplet-no-pad {
	width:32.3%;
	display:inline-block;
	margin-left: 0.3em;
	padding: 0.2em 0;
}

.triplet-70 {
	width: 66%;
	display:inline-block;
}

.triplet:first-child {
	margin-left:0.3em;
}

.triplet h2 {
	margin: 0.5em 0;
}

.triplet li {
	margin-bottom:0.5em;
}

.triplet-pic {
	max-width:100%;
	height:auto;
}

.center-80 {
	width: 80%;
	margin:auto;
}

.bkg-white {
	background: #fff;
}

.bkg-tertiary {
	background: #a6127e;
}

ul {
	margin:0;
	padding:0;
}

.ht-sm {
	height: 150px;
}

.ht-md {
	height: 340px;
}

.ht-lg-pad {
	height:490px;
}

.ht-lg {
	height:500px;
}

.main-article-border {
	border: 0.25em solid #168c49;
}

.pic-container-main {
	height:100%;
}

.pic-wide {
	max-width:98%;
	height:auto;
}

.half-row-pic-cover {
	background: url('../imgs/haitiShore.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-cover {
	background: url('../imgs/pinnacles.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

#dc-cover {
	background: url('../imgs/dc_pano.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.angle-mask {
	width:100%;
}

.article-box {
	border: 0.25em solid #168c49;
}

.article-header {
	background:linear-gradient(#109248, #12a652);
	color: #fff;
}

.article-padding {
	margin:0;
	padding: 0.5em 20px;
}

.article-text {
	display:inherit;
}

.label-box {
	height:90px;
	width:320px;
	background-color: #dea645;
	border:none;
	top: 11.5em;
	position:relative;
	box-shadow: -8px 8px 2px #333;
}

.label-text {
	padding:0.7em 2em 0;
	font-size: 115%;
	margin:0;
}

.social-links {
	display:inline-flex;
	list-style-type: none;
}

.social-links img {
	height:40px;
	width:auto;
	margin: 5px;
}

.inline {
	display:inline-block;
}

.circle-pic {
	width: 10%;
	height:auto;
	border-radius: 50%;
	margin: 0.15em 0.5em 0.35em;
}

.align-middle {
	vertical-align: middle
}

/* media queries be here !! */

@media (max-width: 768px) {

	.fl-left, .fl-right {
		float:none;
	}

	.half-row {
		width:98%;
	}

	.triplet {
		width:98%;
		margin-left:5px;
		padding-top:0.5em;
		padding-bottom:0.5em;
	}

	.triplet h2 {
		margin: 0.2em 0;
	}

	#header {
		text-align: center;
	}

	.head-logo {
		width:98%;
		float:none;
		margin-bottom:15px;
	}

	.navlink {
		display:block;
		text-align:center;
		border:none;
		font-size:1.2em;
	}

	.article-header {
		text-align:center;
	}

	.logo-img {
		float:none;
	}

	.label-box {
		height: 60px;
		top: 73%;
		width:250px;
		font-size:90%;
		background: rgba(222,166,69, 0.6);
		box-shadow:none;
	}

	.label-text {
		padding:0.3em 0 0.1em 1em;
	}

 }